.img {
  border-radius: 50%;
  object-fit: cover;
  width: 8rem;
  height: 8rem;
  border: 7px solid var(--bronze);
}

.crown {
  width: 10rem;
  position: absolute;
  top: -1.5rem;
  left: 10rem;
  transform: scale(1.2) rotate(-10deg);
}

.top {
  position: relative;
  margin-bottom: 1rem;

  &__content {
    margin-top: 5rem;
    display: flex;
    align-items: center;
  }
}

.second {
  width: 10rem;
  height: 10rem;
  border: 6px solid var(--silver);
}
.first {
  width: 12rem;
  height: 12rem;
  border: 6px solid var(--gold);
}
