.payment-page h1 {
  font-size: 35px;
}

.selected-plan {
  width: 95%;
  border-radius: 8px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom:25px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
}

.selected-plan h2 {
  font-weight: 600;
  font-size: 19px;
}

.selected-plan h4 {
  font-size: 16px;
}

.price-to-pay {
  font-size: 20px !important;
  color: var(--purple);
}

.payment-form h2 {
  font-size: 23px;
}

.payment-form {
  padding: 0px 15px 0px 15px;
}

.payment-form input {
  border: 2px solid black;
  outline: none;
  padding: 9px;
  font-size: 17px;
  border-radius: 3px;
  margin-top: 8px;
}